.content{
	width: 1000px;
	height: 500px;
	margin: 15px auto;
	margin-left:0 auto;
	padding: 0;
}

.name{
	width: 1000px;
	height: 40px;
	font-size: 28px;
	margin: 30px 0 10px 0;
}

.info_show{
	width: 1000px;
	height: 390px;
	border: 1px solid darkgray;
	border-radius: 5px;
	box-shadow: 0px 0px 2px #666;
}

.left_show{
	float: left;
	width: 550px;
	height: 350px;
	padding: 6px;
}

.left_show img{
	float: left;
	width: 230px;
	height: 318px;
	border-radius: 5px;
	box-shadow: 3px 3px 10px #aaaaaa;
}

.left_show ul{
	float: left;
	margin:0 8px 0 0;
	width: 300px;
	height: 318px;
	font-size: 13px;
}

.left_show ul li{
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
	margin: 0 0 15px 0;
	height: 35px;
}

.left_show ul li span{
	margin: 0 5px;
	color: #4F4F4F;
}

.right_show{
	margin: 3px 0 0 30px;
	width: 300px;
	height: 350px;
	float: left;
}

.span_title
{
	margin-top: 1px;
    font-size:13px;
}

.movie_brefinfo{
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 9;
	overflow: hidden;
	height: 180px;
    margin-top: 35px;
}

.bottom_button{
	float: left;
	width: 100%;
	height: 30px;
	margin: 0;
	text-align: center;
}

.button_like{
	width: 100%;
}

.cinema_comparing_div{
	float: left;
	margin-top: 20px;
	height: 500px;
	width: inherit;
	box-shadow: 0px 0px 2px #666;
	border-radius: 5px;
}

.select_date{
	width: inherit;
	height: 45px;
	float: left;
	background: linear-gradient(to left ,#108dc7,#ef8e38);
}

.select_date ul{
	float: left;
	height: inherit;
	width: inherit;
}

.select_date ul li{
	padding-top: 3px;
	width: 100px;
	height: inherit;
	float: left;
	text-align: center;
	font-size: 14px;
}

.select_date ul li:hover{
	background-color:#BB5500;
}

.special{
	background-color:#BB5500;
}

.select_date ul li a:hover{
	text-decoration: none;
}

.select_date ul li span{
	margin: 0;
	padding: 0;
	font-size: 9px;
}

.compared_info{
	float: left;
	width: inherit;
	height: 445px;
	margin: 10px 0 0 0;
	padding:0 13px; 
	overflow: hidden;
}

section{
	height: 444px;
	display: block;
	overflow: hidden;
}

.cinema{
	width: inherit;
	height: 50px;
	font-size: 16px;
	border-bottom: thin solid #999;
	margin: 10px 0 5px 0;
}

.cinema_name{
	float: left;
	width: 650px;
	height: inherit;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
	padding: 0;
	padding-top: 10px;
	padding-left: 20px;
	color:dimgray;
}

.cinema_distance{
	width: 100px;
	height: inherit;
	float: left;
	padding-top: 10px;
	color: dimgray;
}

.cinema_distance span{
	color:darkslategray;
	font-size: 18px;
}

.cinema_price{
	width: 100px;
	height: inherit;
	float: left;
	padding-top: 10px;
	color: dimgray;
}

.cinema_price span{
	color: darkslategray;
	font-size: 18px;
}

.button_margin{
	margin-top: 13px;
}

.no_data{
	width: inherit;
	height: inherit;
	text-align: center;
	padding: 210px 0;
	font-size: 24px;
	font-weight:500;
	color: #999;
}