body{
  
}

.navigation_bar{
  background: linear-gradient(to left ,#108dc7,#ef8e38);
  height: 56px; 
}

.navigation_bar ul{
	float: left;
  width: 470px;
  margin: 0px auto 0px auto;
	padding-left: 0;
}

.navigation_bar ul li{
  list-style-type:none;
  float: left;
}

.navigation_bar ul li a{
  width:80px;
  height:30px;
  line-height:28px;
  color:#FFF;
  margin:16px 10px 1px;
  font-size:12px;
  display:block;
  text-align:center;
  text-decoration:none;
  font-size: 17px;
}

.navigation_bar ul li a:hover{
	background-color:#BB5500;
}

.logo_img{
  width: 150px;
  height: 56px;
  padding: 0;
	margin: 0;
  float: left;
}

.logo_img a,img{
  width: inherit;
  height: inherit;
}

.nav_search{
  width: 390px;
  font-size: 16px;
	height: inherit;
	overflow: visible;
	display: inline;
}

.input_search{
	margin: 0px;
	padding: 0px;
	margin-top: 13px;
	border: none;
	border-radius: 5px;
	background-color:white;
	color: black;
	width: 150px;
	height: 30px;
}

.input_search::after{
	background-color: #ece9e6;
}

.input_button{
	height: 32px;
	width: 50px;
	margin: 0px;
	padding: 0px;
	margin-top: 13px;
	border-radius: 5px;
	border: none;
}

.input_button::hover{
	background-color: aliceblue;
}

input:-ms-input-placeholder{
	color:#999;
}/* Internet Explorer 10+ */ 

input::-webkit-input-placeholder{
	color:#999;
}/* WebKit browsers */

input::-moz-placeholder{
	color:#999;
}/* Mozilla Firefox 4 to 18 */ 

input:-moz-placeholder{
	color:#999;
}/* Mozilla Firefox 19+ */ 

.navigationbar_right{
	float: right;
	margin: 0;
	padding: 0;
  width: 200px;
	height: inherit;
	font-size: 16px;
}

.navigationbar_right span{
	margin-top: 17px;
	width: 40px;
	float: left;
	padding: 0;
}

.navigationbar_right span a:hover{
	text-decoration: none;
}

.portrait{
	margin: 8px 8px 8px 40px;
  float: left;
  width:40px;
}

.portrait img{
	border-radius: 50%;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
	z-index: 3;
  background-color: #108dc7;
  width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	padding: 12px 12px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a:hover{
	text-decoration: none;
}

.nav_username{
	width: 80px;
	float: left;
	height: 27px;
	margin: 20px 0 10px 0;
	padding-top: 2px;
	padding-left: 8px;
	color: aliceblue;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
}
/*箭头样式*/
.item {  
    float:left; 
}  
.dot-right {
    margin-top: 5px;
    font-size: 0;  
    line-height: 0;  
    border-width: 10px;  
    border-color: rgb(223,148,99);  
    border-right-width: 0;  
    border-style: dashed;  
    border-left-style: solid;  
    border-top-color: transparent;  
    border-bottom-color: transparent;  
}  