body{
  background: linear-gradient(to right ,#ece9e6,#ffffff);
}

.navigation_bar{
  background: linear-gradient(to left ,#108dc7,#ef8e38);
  height: 56px; 
}

.navigation_bar ul{
	float: left;
  width: 470px;
  margin: 0px auto0px auto;
}

.navigation_bar ul li{
  list-style-type:none;
  float: left;
}

.navigation_bar ul li a{
  width:80px;
  height:30px;
  line-height:28px;
  color:#FFF;
  margin:16px 10px 1px;
  font-size:12px;
  display:block;
  text-align:center;
  text-decoration:none;
  font-size: 17px;
}

.navigation_bar ul li a:hover{
	background-color:#BB5500;
}

.logo_img{
  width: 150px;
  height: 40px;
  padding: 8px;
  float: left;
}

.logo_img a,img{
  width: inherit;
  height: inherit;
}

.nav_search{
  padding-top: 8px;
  margin: 0px;
	margin-right: 0;
	margin-left: 500px;
  padding-left: 70px;
  width: 390px;
  font-size: 16px;
	height: 56px;
}

.input_search{
	margin: 0px;
	padding: 0px;
	border: none;
	border-radius: 5px;
	background-color:white;
	color: black;
	width: 180px;
	height: 40px;
}

.input_search::after{
	background-color: #ece9e6;
}

.input_button{
	height: 40px;
	width: 80px;
	border-radius: 5px;
	border: none;
}

.input_button::hover{
	background-color: aliceblue;
}

input:-ms-input-placeholder{
	color:#999;
}/* Internet Explorer 10+ */ 

input::-webkit-input-placeholder{
	color:#999;
}/* WebKit browsers */

input::-moz-placeholder{
	color:#999;
}/* Mozilla Firefox 4 to 18 */ 

input:-moz-placeholder{
	color:#999;
}/* Mozilla Firefox 19+ */ 

.navigationbar_right{
	float: left;
	margin: 0;
	padding: 0;
  width: 100px;
}

.portrait{
  float: left;
  width:30px;
}

/*箭头样式*/
.item {  
    float:left; 
}  
.dot-right {
		margin-top: 4px;
    font-size: 0;  
    line-height: 0;  
    border-width: 10px;  
    border-color: rgb(223,148,99);  
    border-right-width: 0;  
    border-style: dashed;  
    border-left-style: solid;  
    border-top-color: transparent;  
    border-bottom-color: transparent;  
}  