body
{
    text-align: center;
}

.profileHeader
{
    margin:0 auto;
    height:320px;
    width:1100px;
}

.card
{
    margin:0 auto;
    height:320px;
    width:1100px;
    background:url("../img/%E6%B2%99%E6%BB%A9.jpg");
    text-align: center;
}

.selfImage
{
    float: left;
    margin:0 487.5px;
    margin-top:57px;
    height:125px;
    width:125px;
}

.selfImage img
{
    border-radius:62.5px;
}

.profileHeader-title
{
    float: left;
    margin-left:250px;
    margin-top: 23px;
    height:100px;
    width:600px;
}

.profileHeader-name
{
    float: left;
    height:35px;
    width:600px;
    font-size: 25px;
    font-weight: thick;
}

.self_introduction
{
    float: left;
    height:23px;
    width:600px;
    margin-top:5px;
    color:#3C3C3C;
}

.transform_button
{
    float:right;
    margin-right:10px;
    margin-bottom: 0px;
}

.useEditor
{
    margin:0 auto;
    height:295px;
    width:1100px;
    background-color: aliceblue;
}













