.html {

      height: 100%;

    }

    .body {

      padding: 0;

      text-align: center;

      font-family: 'open sans';

      position: relative;

      margin: 0;

      height: 100%;

    }

    

    .wrapper {

    	height: auto;

    	height: 100%;

    	margin: 0 auto; 

    	overflow: hidden;
        background-color: #DDD6CC;

    }

.main {

      float: left;

      width: 1000px;
      margin-left: 250px;

      margin-top: 20px;
      background-color: white;
      border-radius: 3px;
      box-shadow: 3px;

    }

.left_main
{
    float:left;
    width:270px;
    height:3000px;
    background-color: #E8E5DD;
}

.picture-card
{
    float:left;
    width:270px;
    height:230px;
}

.picture-card img
{
    vertical-align:middle;
    height:170px;
    width:170px;
    border-radius: 100%;
    margin-left: 50px;
    margin-top:30px;
}

.name
{
    height:157px;
    width:270px;
    background-color: #ef8e38;
    float:left;
}

.n1
{
    margin-top:48px;
    font-size: 20px;
    color:white;
    margin-left: 30px;
    font-weight: 400;
}

.n2
{
    margin-top: 10px;
    font-size: 13px;
    color:white;
    margin-left: 30px;
    font-weight: 100;
}

.right_main
{
    float:left;
    width:730px;
     height:3000px;
}

 a {

      text-decoration: none;

    }

.jumptp-block
{
    float:left;
    width:730px;
}

h2.title
{
    float:left;
    font-size:18px;
    font-weight: 100;
    color:#6D461D;
    margin-left: 17px;
    margin-top: 30px;
    width:50px;
    height:30px;
    text-align: center;
    line-height: 30px;
    background-color:rgba(239, 142, 56,0.8); 
    border-radius: 3px;
    box-shadow: 5px;
}
 
hr
{
   color:#643504;
    float:left;
    width:700px;
    height:0.5px;
    margin-top:-10px;
    margin-left: 15px;
    box-shadow: 3px;
}

.row_film
{
    float:left;
    width:730px;
    margin-left: 17px;
}

.single_film
{
    float:left;
    width:178px;
    height:260px;
}

.movie_card
{
    float:left;
    width:158px;
    height:255px;
     background-color: #c2baba;
    box-shadow: 2px;
    border-radius: 2px;
    position: relative;
    overflow: hidden;
}

.film_post
{
    float:left;
    width:158px;
    height:208px;
    
}

.film_post img
{
    float:left;
    width:158px;
    height:207px;
    transition:all 0.6s;
	cursor:pointer;
	border:0;
}

.film_post img:hover
{
    transform:scale(1.5);
}

.movie_info
{
    float:left;
    width:158px;
    height:40px;
}

.movie_name
{
    float:left;
    width:158px;
    text-align: center;
    height:20px;
    text-align: center;
    font-size: 14px;
    margin-top: 7px;
}
    
.movie_introduction
{
     float:left;
    width:158px;
    height:7px;
    margin-top:5px;
}

.note 
{
    color:#FFFFFF;
	width:158px;
	height:15px;
    font-size: 12px;
	display:block;
	text-decoration:none;
	cursor:pointer;
	text-indent:1em;
	line-height:15px;
	/*初始化隐藏多余文字*/
            white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	float:left;
	position:absolute;
	bottom:0px;
	background-color:rgba(0,0,0,0.5);
	/* 背景变灰 */
    transition:all 0.6s;
    display:-webkit-box;
	-webkit-box-orient:vertical;
	-webkit-line-clamp:10;
}

.note:hover {
    color:white;
    text-decoration: none;
	width:158px;
	height:255px;
	line-height:30px;
	text-indent:1em;
	/*显示全部文字*/
            white-space:normal;
	word-break:break-word;
	text-overflow:inherit;
}

.personal_card
{
    float:left;
    width:700px;
    height:210px;
    margin-left:17px;
    margin-top:6px;
    background-color: #c2baba;
}
   
.personal_photo
{
    float:left;
    width:150px;
    height:210px;
     box-shadow: 3px;
    border-radius: 3px;
    border-right: 0.5px solid #00000080;
}

.personal_photo img
{
    float:left;
    width:150px;
    height:150px;
}

.change
{
    margin-left:2px;
    margin-top: 4px;
    width:60px;
    height:20px;
    font-size: 12px;
}

.change2
{
 
    margin-left:2px;
    margin-top: 4px;
    width:60px;
    height:25px;
    font-size: 12px; 
}

.personal_info
{
    float:left;
    width:400px;
    height:210px;
}
   
.personal_info span
{
    float:left;
    margin-top: 4px;
    margin-left:5px;
    margin-bottom: 8px;   
    margin-right: 4px;
    width:40px;
    font-size: 13px;
    text-align: center;
    background-color:#e49645;
}


.personal_info p
{
    margin: 0;
    margin-top: 4px;
    font-size: 13px;
} 

.tip
{
    float:right;
    margin-top:20px;
    font-size: 13px;
    margin-right: 5px;
    color:#776f6f;
}


/*侧边导航栏样式*/
.personal_nav{
	width: 270px;
	height: 300px;
	float: left;
}

.personal_nav ul{
	width: 270px;
    height:300px;
    background-color: #c2baba;
    padding: 0;
}

.personal_nav ul li{
    width: 270px;
    height:50px;
    border-bottom:0.5px solid #999;
    line-height: 50px;
    font-size: 18px;
    
}

.personal_nav ul li:hover{
    background-color:  #ef8e38;
}

.personal_nav ul li a
{
     padding-left: 30px;
     text-decoration: none;
}

.personal_nav ul li a:hover{
    color:white;
}


















  
   