.main_body
{
    float:left;
    width:100%;
    height:1300px;
    margin:0;
    padding:0;
}

#category
{
    float:left;
    width:1200px;
    min-height:100px;
    margin-top:40px;
    margin-left:180px;
    background-color:#f8dc89;
    border-radius: 3px;
    box-shadow: 1px 0 0 1px #E0E0E0;
}

.category1
{
    float:left;
    width:100%;
    height:35px;
}

.category_name1
{
    float:left;
    width:65x;
    height:35px;
    margin-top: 5px;
    margin-left: 16px;
    text-align:left;
    line-height: 35px;
    font-size: 12px;
    color:#8E8E8E;
}

.category_content1
{
    float:left;
    background-color: #efa65a;
    width:62px;
    height:33px;
    margin-top: 5.5px;
    margin-bottom: 9.5px;
    margin-left: 3px;
    line-height: 30px;
    font-size:13.5px;
    border:none;
    border-radius: 5px;
    color:#00000080;

}

#category hr
{
    float: left;
    width: 1170px;
    margin-left:5px;
    border:none;
    border-top: 1px solid #00000021;
    border-bottom: 0;
}

#current
{
    margin-top: 0px;
    float:left;
    width:100%;
    min-height: 30px;
    margin-bottom:0;
}

.category_name2
{
    float:left;
    width:40px;
    height:35px;
    margin-top: 0px;
    margin-left: 16px;
    text-align: left;
    line-height: 35px;
    font-size: 12px;
    color:#8E8E8E;
}

#current ul
{
    margin: 0px;
    float:left;
    width:1080px;
    padding-left: 0px;
}

#current ul li
{
   list-style-type:none;
   float: left;
    width:54px;
    height:35px;
    margin-top: 0px;
    margin-left: 2px;
}

#current ul li a
{
    line-height: 35px;
    text-align: center;
    font-size:14px;
    color:#00000060;
    width:45px;
    height:35px;
    margin-top: 0px;
    margin-left: 2px;
    display: block;
}

#current ul li a:hover
{
    background-color:#efa65a;
    width:100%;
    height:100%;
    margin-top: 0px;
}

.btn_style
{
    float:left;
    width:50px;
    height:30px;
    margin-left: 2px;
    line-height: 30px;
    font-size:13px;
    border:none;
    border-radius: 5px;
    background-color:#efa65a;
    color:#00000080;
}

#spread
{
    width: 1130px;
    height: 0px;
    overflow: hidden;
}

.movie_show
{
    width:1150px;
    height:3000px;
    float:left;
    margin-left: 180px;
    margin-top: 50px;
}

.row_movie
{
    width:1200px;
    height:310px;
    float:left;  
    margin-top: 20px;
}

.movie-card
{
    width:204px;
    height:288px;
    float:left;
}

.single_movie
{
    width:180px;
    height:288px;
    float:left;
    background-color: #c2baba;
    box-shadow: 2px;
    border-radius: 2px;
    position: relative;
    overflow: hidden;
}

.movie_post
{
    width:204px;
    height:238px;
    float:left;    
}

.movie_post img
{
    width:180px;
    height:236px;
    float:left;
    transition:all 0.6s;
	cursor:pointer;
	border:0;
}

.movie_post img:hover
{
    transform:scale(1.5);
}

.movie_info
{
    float:left;
    width:180px;
    height:46px;
}

.movie_name
{
    float:left;
    width:180px;
    text-align: center;
    height:20px;
    text-align: center;
    font-size: 14px;
    margin-top: 7px;
}


.movie_introduction
{
    float:left;
    width:180px;
    height:15px;
}

.note 
{
    color:#FFFFFF;
	width:180px;
	height:15px;
    font-size: 12px;
	display:block;
	text-decoration:none;
	cursor:pointer;
	text-indent:1em;
	line-height:15px;
	/*初始化隐藏多余文字*/
            white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	float:left;
	position:absolute;
	bottom:0px;
	background-color:rgba(0,0,0,0.5);
	/* 背景变灰 */
    transition:all 0.6s;
    display:-webkit-box;
	-webkit-box-orient:vertical;
	-webkit-line-clamp:10;
}

.note:hover {
    color:white;
    text-decoration: none;
	width:180px;
	height:288px;
	line-height:30px;
	text-indent:1em;
	/*显示全部文字*/
            white-space:normal;
	word-break:break-word;
	text-overflow:inherit;
}

.row_last_movie
{
    float:left;
    width:180px;
    height:288px;
    position: relative;
    overflow: hidden;
    background-color: #c2baba;
    box-shadow: 1px;
}
