* {
	margin:0;
	padding:0;
}

.select
{
    float:left;
    margin-left:100px;
    width:800px;
    height:400px;
    margin-top:10px;
}

.select h1
{
    float:left;
    font-size:50px;
    margin-bottom: 40px;
}

ul {
        padding-top:0;
        float:left;
		width:100%;
		margin-top:30px;
		
}

ul li {
	display:inline-block;
	padding:8px 30px;
    margin-left: 12px;
	font-size:14px;
	color:white;
	border:1px solid #ddd;
	margin-right:50px;
	border-radius:4px;
	position:relative;
	cursor:pointer;
}

ul li.active:before {
	content:'';
	display:block;
	height:0;
	width:0;
	font-size:0;
	border:10px solid transparent;
	border-right:10px solid #ef8e38;
	border-bottom:10px solid #ef8e38;
	position:absolute;
	right:0;
	bottom:0;
}
ul li.active {
	border:1px solid #ef8e38;
}
.icon {
	display:none;
	position:absolute;
	color:#fff;
	font-size:14px;
	bottom:-1px;
	right:2px;
}
ul li.active .icon {
	display:block;
}

.brm
{
    float:left;
    width:100%;
    height:50px;
}

.tip
{
    width:800px;
    height:200px;
    margin-left: 70px;
    margin-top:40px;
}



















